/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

.button_to {
  display: inline-block;
  [type=submit] {
    margin: 2px;
    background-color: #eee;
    &.selected {
      background-color: #fee;
    }
  }
}

table[border="1"] {
  margin: 0 20px;
  th, td {
    border-color: #ccc;
    padding: 2px 8px;
  }
}

[data-type=number] {
  text-align: right;
}
[data-type=mark] {
  text-align: center;
}

