<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="initial-scale=1.0, user-scalable=no">
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
  <meta http-equiv="content-language" content="ja">

  
  <link rel="stylesheet" href="https://d10ajoocuyu32n.cloudfront.net/mobile/1.3.1/jquery.mobile-1.3.1.min.css">
  <style type="text/css">
  .ui-content .ui-btn-inner {
    white-space: pre-wrap;
    text-align: left;
    vertical-align: middle;
    display: table-cell;
    /* 
    @ToDo
    Modify "height" element when you arrange text.
    */
    height: 40pt;
    font-size: 12pt;
    }
  </style>
  
  <!-- jQuery and jQuery Mobile -->
  <script src="https://d10ajoocuyu32n.cloudfront.net/jquery-1.9.1.min.js"></script>
  <script src="https://d10ajoocuyu32n.cloudfront.net/mobile/1.3.1/jquery.mobile-1.3.1.min.js"></script>

  <title>Smart phone quiz</title>
  <%= csrf_meta_tags %>
  <%= yield :head %>
</head>
<body>

<%= yield %>
<%= yield :tail %>
</body>
</html>
